.booksearch input {
    outline: none;
    border-bottom: 2px solid #eee;
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    transition: 0.4s;
}
h4.book_title {
    color: #fff;
    text-align: center;
}
.row.heading {
    justify-content: center;
    margin: 20px 0 0;
}
button#refresh {
    display: none;
}
a.read {
    margin: 10px 0 -10px;
}
h4.title {
    text-align: center;
    font-size: 1.3rem;
}
.books {
    margin: 62px 0;
}
.author {
    text-align: center;
    font-size: 14px;
}
input[type="submit"] {
    background: #411f1e;
    width: 100px;
    color: #fff;
    border: none;
    padding: 5px;
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
.form_group {
  height: 40px;
  width: 370px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
form.books_add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #bf8f4ebd;
    padding: 10px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
input[type="file"] {
  height: 40px;
    outline:none}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]:before {
    content: 'Browse';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

input[type="file"]:hover:before {
    border-color: black;
}

input[type="file"]:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
label{
  margin: 0
}

input[type="file"] {
    display: flex;
    flex-direction: column;
    width: 130px;
}
.flex.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
img.viewicon {
    width: 40px;
    height: 40px;
    display: block;
}
button#refresh {
    background: #995a2e;
    color: #fff;
    border: 1px solid #905425;
    padding: 6px 30px 7px;
}
.el_book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0 18px;
}
.booksearch input:focus {
    outline: none;
    border-bottom: 2px solid #dddddd;
    	width:60%;
}

.col-lg-12.col-xs-12.flex.booksearch {
    display: flex;
    justify-content: center;
}

.books.loaded {
    min-height: 100vh;
}
.row{
  align-items: center;
}

.booksearch button img {
    height: 12px;
}
.booksearch button {
    width: 40px;
    height: 30px;
    padding: 4px;
    border: none;
    background: transparent;
    -webkit-transform: translate(-100%,-10%);
    transform: translate(-100%,-10%);
}


.row.blueb {
    padding: 20px 0 20px;
}
